<header>
	<!-- {{ strings.Repeat ( .Site.Title | len | add 4 ) "#" }}<br> -->
	<!-- # <b>{{ .Site.Title }}</b> #<br> -->
	<b style="font-size: x-large" >{{ .Site.Title }}</b>
	<!-- {{ strings.Repeat ( .Site.Title | len | add 4 ) "#" }} -->
	<i style="float: right;">{{ .Site.Params.subtitle }}</i><br>
	<p>
	<nav>
		<a href='{{ urls.AbsLangURL "/" }}'><b>Home</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
	<hr>
